<p id="notice">
    <%= notice %>
</p>
<h1 style="text-align:center; color:green">Sportivi</h1>
<%= render partial: 'runners_filter' %>
<%= render partial: 'runners_table', locals: { runners: @runners, show_pagination: true } %>
<br>
<% if admin_user? || club_admin? %>
<%= link_to 'Rezultat Nou', new_runner_path, class: "btn btn-info" %>
<% end %>
