<p id="notice">
    <%= notice %>
</p>
<h1 style="text-align:center; color:green">Rezultate</h1>
<%= render partial: 'results_table', locals: { results: @results, show_pagination: true, controller: "category"  } %>

<br>
<% if admin_user? || club_admin? %>
<%= link_to 'Rezultat Nou', new_result_path, class: "btn btn-info" %>
<% end %>
