window.showHideNewGroup = function() {
    var value = $('[id*="group_id"]').val();

    if (value == "") {
        addGroup("text_field");
    }
};


window.showCompetitionGroups = function(id) {
    var url = '/groups.json?competition_id=' + id;

        showHideNewCompetition();

        $.get(url, function(data) {
            var select = $('[id*="group_id"]');
            select.empty();
            if (data.length === 0) {
                addGroup("text_field");
            } else {
                $.each(data, function(index, item) {
                    select.append('<option value="' + item.id + '">' + item.group_name + '</option>');
                });
                select.append('<option value>' + "Grupa Noua" + '</option>');
            }
        });

};

$(document).ready(function() {
    $('[id*="_group_attributes_competition_id"]').on('change', function() {
        var id = $(this).val();

        if (id != "" && id < 3) {
            $('#result-details').hide();
            $('#date-details').show();
            showHideNewCompetition();
            $('#group-data').empty();
        }
        else {
            $('#result-details').show();
            $('#date-details').hide();
            showCompetitionGroups(id);
        }
    });
});

window.competitionChange = function() {
    var id = $('[id*="_group_attributes_competition_id"]').val();

    if (id != "" && id < 3) {
           $('#result-details').hide();
           $('#date-details').show();
           showHideNewCompetition();
           $('#group-data').empty();
       }
       else {
           $('#result-details').show();
           $('#date-details').hide();
           showCompetitionGroups(id);
       }

};

$(document).ready(function() {
  $('form[action="/results"]').submit(function(event) {
      event.preventDefault();
      var hours = parseInt($('#hours').val()) || 0;
      var minutes = parseInt($('#minutes').val()) || 0;
      var seconds = parseInt($('#seconds').val()) || 0;
      $('#result_time').val(hours * 3600 + minutes * 60 + seconds);
      $(this).unbind('submit').submit();
    });
});



window.setTime = function() {
  $('#hours').val(Math.floor($('#result_time').val() / 3600));
  $('#minutes').val(Math.floor(($('#result_time').val() % 3600) / 60));
  $('#seconds').val(Math.floor(($('#result_time').val() % 3600) % 60));
};

window.editPageLoad = function() {
        var id = $('#result_group_attributes_competition_id').val();

        if (id != "" && id < 2) {
            $('#result-details').hide();
            $('#date-details').show();
            showHideNewCompetition();
            $('#group-data').empty();
        }
        else {
            $('#result-details').show();
            $('#date-details').hide();
            showCompetitionGroups(id);
        }
}
